<nav class="navbar navbar-light bg-white " >
    <div class="container-fluid">
        <h3 style="color: black;">Angular Filter</h3>
        <div class="d-flex">
  
            <div class="d-flex">
              <input class="form-control mr-sm-2 me-3" type="search" placeholder= "Search by Name"  (keyup)="search($event.target)">
            </div>

          </div>
    </div>
</nav>

<div class="main" >
    
        <div class="card" *ngFor="let row of employee_data_1">
           
            <div class="img-holder">
                <img src={{row.avatar}} alt="straberry">
            </div>

            <div class="card_data">

                
                <label class="title">First Name:
                    <p>{{row.first_name}}</p>
                </label>
                <label class="title">Last Name:
                    <p>{{row.last_name}}</p>
                </label>
                <label class="title">Email:
                    <p>{{row.email}}</p>
                </label>
                
                <button class="button">View Details</button>
            </div>
            
        </div><br>
</div> 

